<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h2 class="display-5">Welcome to task management system!</h2>
  <p class="lead">Are you a busy person who meets all your tasks in the diary? This site will allow you to create and manage your tasks without having your diary at your fingertips. In order to create your first task you need to register on the system or log in if you are pre-registered. By clicking on the "New Task" button you will get a convenient form for filling in your task. You will be able to view your tasks, edit, delete or mark completed.</p>
</div>




