<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h1 class="display-4">Welcome to  task management system!</h1>
  <p class="lead">Are you a busy person who notes all his tasks in the diary? This site will allow you to create and manage your tasks while away from your diary. All that is needed is to be registered on the site.</p>
</div>
