<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Welcome to  task management system!</h1>
  <p class="lead">Do you want to create a task management system for yourself? Then sign up or sign in to your account and create your own tasks. You will be able to specify the due date and select the priority of the task.</p>
  <br>
   <nav class="my-2 my-md-0 mr-md-3">
    <% if current_user %>
  Signed in as <%= current_user.email %>.
    <span class="p-2 text-black"><%= link_to "Sign Out", signout_path,  class: "btn btn-primary" %></span>
  <% else %>
    <span class="p-2 text-black"><%= link_to "Sign Up", signup_path,  class: "btn btn-primary btn-lg" %> </span>
    <span class="p-2 text-black"><%= link_to "Sign In", signin_path, class: "btn btn-primary btn-lg" %></span>
  <% end %>
   </nav>
</div>
</body>


