
body {font-size: 1.75em}

.buffer-top {
  margin-top: 2em;
 }

.task {
  margin-bottom: 2em;

  .action {opacity: 0;}

  &:hover .action {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

 .priority_1 {color: #009090}
 .priority_2 {color: #c09000}
 .priority_3 {color: #c00000}
 .completed_true .title {color: #c0c0c0; text-decoration: line-through}

.done {
	margin-left: 10px;
}

.form-inputs {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  display: block;
  justify-content: center;
  align-items: center;
}
.alert {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  display: block;
  font-size: 35pt;
}
td {
  text-align:center;
  font-size: 0.4em;

}

