nav {
	position: center;
}
body{
	background-image: url(https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg);
	background-size: cover;
    
  }
h1 {
	font-family: Sans serif, Bree;
	font-weight: bold;
	height: 2em;
}
p { font-family: Sans serif, Ubuntu Condensed;
	font-size: 25pt;


}


  /*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/