.col-md-6 {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  display: block;
  justify-content: center;
  align-items: center;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
